.env
.env.*
target
out
/.bsp
.bloop/
.direnv
.history
/.idea
/.idea_modules
/.classpath
/.project
/.settings
.DS_Store
.metals
.vscode
metals.sbt
/docs/local
/plutus-conformance
scalus-plugin/src/main/shared
scalus-testkit/core-shared
cardano-cli
cardano-address
scalus-cardano-ledger-it/scripts
bloxbean-cardano-client-lib/scripts/
bloxbean-cardano-client-lib/blocks
utxos/
!bloxbean-cardano-client-lib/src/test/resources/utxos/
package-lock.json
website/static/api
node_modules
.scala-build
.envrc.local
.cursor/
**/todo/
*.log
test-logs-archive/
/scalus-cardano-ledger/js/src/main/npm/scalus.js.map
