name: Build uplc
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: nixbuild/nix-quick-install-action@v34
      - uses: DeterminateSystems/magic-nix-cache-action@main
        with:
          use-flakehub: false
      - name: Build uplc
        run: |
          nix develop --accept-flake-config --command bash -c "cp \$(which uplc) ./uplc"
          chmod +x ./uplc
          ./uplc --version
      - name: Upload uplc artifact
        uses: actions/upload-artifact@v4
        with:
          name: uplc-linux-x86_64
          path: ./uplc
          retention-days: 90
