name: Release
on:
  push:
    branches: [ master ]
    tags: [ "*" ]
    paths-ignore:
      - 'scalus-secp256k1-jni/**'
      - '.github/workflows/**'
      - '*.md'
      - 'docs/**'
      - 'scalus-site/**'
  workflow_dispatch: # Manual trigger as fallback
jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 40
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: coursier/cache-action@v6
      - uses: nixbuild/nix-quick-install-action@v34
      - uses: DeterminateSystems/magic-nix-cache-action@main
        with:
          use-flakehub: false
      - run: nix develop .#ci --command bash -c "sbt ci-release"
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
