name: Release
on:
  push:
    branches: [ master ]
    tags: [ "*" ]
    paths-ignore:
      - 'scalus-secp256k1-jni/**'
      - '.github/workflows/**'
      - '*.md'
      - 'docs/**'
      - 'scalus-site/**'
  workflow_dispatch: # Manual trigger as fallback
jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 40
    #continue-on-error: true
    strategy:
      fail-fast: false
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= iohk.cachix.org-1:DpRUyj7h7V830dp/i6Nti+NEO2/nhblbov/8MW7Rqoo= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs=
            substituters = https://cache.iog.io https://cache.nixos.org/
            sandbox = false
      - uses: DeterminateSystems/flakehub-cache-action@main
      - uses: DeterminateSystems/flake-checker-action@main
      - run: nix develop .#ci --command bash -c "sbt ci-release"
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
